
html, body {
  margin:  0;
  height: 100%;
	overflow-x: hidden;
}
a {
	color:#250058;
	text-decoration: none;
	cursor: pointer;
}


hr {
	border: 1px solid #250058;
	width: 30%;
	border-radius: 3px;
	margin: 0;
}

h1 {
	font-family: 'Caveat Brush', cursive;
	font-size: 8em;
	color: #250058;
	margin: 0;
	padding: 0;
	text-indent: -.2em;
	width: 8em;

}
.specchar {
	-moz-font-feature-settings: "salt";
  -webkit-font-feature-settings: "salt";
  font-feature-settings: "salt";
	color: red;

}
/* Character spec test (think only for opentype fonts not truetype)
#roos {
	-moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}
*/
h2 {
	font-family: 'Caveat Brush', cursive;
	font-size: 3em;
	color: #250058;
	margin-bottom: 1%;
	text-align: center;

}


h3 {
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 1.5em;
	color: #250058;
}
p {
	font-family: 'Nunito', sans-serif;
	font-size: 1.1em;
	line-height: 1.7em;
	color: #250058;
}

div.text p {
	width: 60%;
	min-width: 35em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8%;
	margin-top: 8%;
}


#toptext {
	margin-left: 8%;
	display: inline-block;
	margin-top: 10em;
	vertical-align: top;
	width: 30%

}

#name {
	width: 100%;
	max-width: 25em
}

#subname {
	width: 100%;
	max-width: 25em
}

#subname h2 {
	font-size: 300%;


}

#topimage {
	width: 60%;
	height: auto;
	display: inline-block;

}


#contbut {
	width: 12em;
	overflow: auto;
	background-color: #250058;
	border-radius: 300px;
	z-index: 5;
	position: fixed;
	top: 8%;
	right: 5%;
	cursor: pointer;
}
#contbut h3 {
	color: white;
	text-align: center;
	margin: 5%;
}


#condiv {
	margin: 8%  8% 8% 15%;
}
#contact h2{
	text-align: left;
}

#footer {
	background-color: #250058;
	width: 100%;
	overflow: auto;
	padding: 1%;
}
#footer p {
	color: white;
	text-align: center;
	margin: 0;

}

div.slide {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	display: inline-block;
	height: 70%;
	width: 100%;
	margin-bottom: 3%;
}

div.slide img{
	display: inline-block;
	height: 100%;
	margin: 0% 0.05%;
	pointer-events: none;
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;

}

div.inslide {
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 25em;
	margin: 0% 0.05%;

}
div.inslide p {
	word-wrap: normal;
	white-space: normal;
	width: 80%;
	margin: 30% 10%;
}

.inslide hr {
	margin: auto;

}
/*
div.categ {
	display: inline-block;
	background-color: white;
	height: 98%;
	width: 5em;
	overflow: hidden;
	vertical-align: top;


}
div.categ h3 {
	color: #250058;
	font-size: 2.5em;
	line-height: 1em;
	margin: 20% 30%;
	text-align: center;

}
*/
/* horizonntal scrollbar override*/
.slide::-webkit-scrollbar {
    -webkit-appearance: none;
}

.slide::-webkit-scrollbar:horizontal {
    height: 11px;
}

.slide::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .5);
}
.slide::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}
